extends layouts/base.pug

block content
  .error.text-center
    h2= title || 'Error 404' 
    div= text || "Sorry but the page you are looking for doesn't existe or has expired." 
    div Created paste expire after #{ttl}.
    a.btn.btn-primary.my-2(href="/") Home 
