extends layouts/base.pug

block content
  .card
    form(action='/create', method='post')
      .form-group
        textarea.form-input(placeholder='Content...', rows='10', name='content', contenteditable=true, required)
      .form-group.padded
        button.btn.btn-block.btn-primary(type='submit') Create


